:root {
    --red: #E50914;
    --darkred: #B81D24;
    --dark: #221F1F;
    --black: #000000;
    --white: #F5F5F1;
}

/* ---- Initial Setup ---- */
* {
    margin: 0;
    box-sizing: border-box;
	font-family: "Raleway", sans-serif;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: var(--white);
    background-color: var(--black);
}